logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/node_modules
/tp_upload
.module-cache
tools/gatling-performance/results/
tools/yajsw/bin/
bower_components/
public/app/about.html
projectFilesBackup/
fetcher_result_status/
application.conf